<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenbamboo.dao.BsShopMapper">
	<resultMap id="BaseResultMap" type="com.tenbamboo.bean.BsShop">
		<id column="ClientCode" property="clientcode" jdbcType="INTEGER" />
		<result column="ClientName" property="clientname" jdbcType="VARCHAR" />
		<result column="Address" property="address" jdbcType="VARCHAR" />
		<result column="Province" property="province" jdbcType="VARCHAR" />
		<result column="City" property="city" jdbcType="VARCHAR" />
		<result column="Channel" property="channel" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ClientCode, ClientName, Address, Province, City, Channel
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.tenbamboo.bean.BsShopExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bs_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="offset != null and offset >= 0 and limit != null and limit>=0">
			limit ${offset} , ${limit}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from bs_shop
		where ClientCode = #{clientcode,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		bs_shop
		where ClientCode = #{clientcode,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.tenbamboo.bean.BsShopExample">
		delete from bs_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.tenbamboo.bean.BsShop">
		insert into bs_shop
		(ClientCode, ClientName, Address,
		Province, City, Channel
		)
		values
		(#{clientcode,jdbcType=INTEGER}, #{clientname,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tenbamboo.bean.BsShop">
		insert into bs_shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientcode != null">
				ClientCode,
			</if>
			<if test="clientname != null">
				ClientName,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="province != null">
				Province,
			</if>
			<if test="city != null">
				City,
			</if>
			<if test="channel != null">
				Channel,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientcode != null">
				#{clientcode,jdbcType=INTEGER},
			</if>
			<if test="clientname != null">
				#{clientname,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				#{channel,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.tenbamboo.bean.BsShopExample"
		resultType="java.lang.Integer">
		select count(*) from bs_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update bs_shop
		<set>
			<if test="record.clientcode != null">
				ClientCode = #{record.clientcode,jdbcType=INTEGER},
			</if>
			<if test="record.clientname != null">
				ClientName = #{record.clientname,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				Address = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.province != null">
				Province = #{record.province,jdbcType=VARCHAR},
			</if>
			<if test="record.city != null">
				City = #{record.city,jdbcType=VARCHAR},
			</if>
			<if test="record.channel != null">
				Channel = #{record.channel,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update bs_shop
		set ClientCode = #{record.clientcode,jdbcType=INTEGER},
		ClientName = #{record.clientname,jdbcType=VARCHAR},
		Address =
		#{record.address,jdbcType=VARCHAR},
		Province =
		#{record.province,jdbcType=VARCHAR},
		City =
		#{record.city,jdbcType=VARCHAR},
		Channel =
		#{record.channel,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.tenbamboo.bean.BsShop">
		update bs_shop
		<set>
			<if test="clientname != null">
				ClientName = #{clientname,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				Address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				Province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				City = #{city,jdbcType=VARCHAR},
			</if>
			<if test="channel != null">
				Channel = #{channel,jdbcType=VARCHAR},
			</if>
		</set>
		where ClientCode = #{clientcode,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tenbamboo.bean.BsShop">
		update bs_shop
		set
		ClientName = #{clientname,jdbcType=VARCHAR},
		Address =
		#{address,jdbcType=VARCHAR},
		Province = #{province,jdbcType=VARCHAR},
		City = #{city,jdbcType=VARCHAR},
		Channel = #{channel,jdbcType=VARCHAR}
		where ClientCode = #{clientcode,jdbcType=INTEGER}
	</update>
</mapper>