<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenbamboo.dao.PoetryBaseMapper" >
  <resultMap id="BaseResultMap" type="com.tenbamboo.bean.PoetryBase" >
    <id column="base_id" property="baseId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="VARCHAR" />
    <result column="favorites_count" property="favoritesCount" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="base_type" property="baseType" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    base_id, title, author, view_count, favorites_count, create_date, base_type, source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tenbamboo.bean.PoetryBaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from poetry_base
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset >= 0 and limit != null and limit>=0" >
      limit ${offset} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from poetry_base
    where base_id = #{baseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from poetry_base
    where base_id = #{baseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tenbamboo.bean.PoetryBaseExample" >
    delete from poetry_base
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tenbamboo.bean.PoetryBase"  keyProperty="baseId" useGeneratedKeys="true" >
    insert into poetry_base (base_id, title, author, 
      view_count, favorites_count, create_date, 
      base_type, source)
    values (#{baseId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{viewCount,jdbcType=VARCHAR}, #{favoritesCount,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, 
      #{baseType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tenbamboo.bean.PoetryBase" keyProperty="baseId" useGeneratedKeys="true" >
    insert into poetry_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="baseId != null" >
        base_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="favoritesCount != null" >
        favorites_count,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="baseType != null" >
        base_type,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="baseId != null" >
        #{baseId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=VARCHAR},
      </if>
      <if test="favoritesCount != null" >
        #{favoritesCount,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="baseType != null" >
        #{baseType,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tenbamboo.bean.PoetryBaseExample" resultType="java.lang.Integer" >
    select count(*) from poetry_base
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update poetry_base
    <set >
      <if test="record.baseId != null" >
        base_id = #{record.baseId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.viewCount != null" >
        view_count = #{record.viewCount,jdbcType=VARCHAR},
      </if>
      <if test="record.favoritesCount != null" >
        favorites_count = #{record.favoritesCount,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.baseType != null" >
        base_type = #{record.baseType,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update poetry_base
    set base_id = #{record.baseId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      view_count = #{record.viewCount,jdbcType=VARCHAR},
      favorites_count = #{record.favoritesCount,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      base_type = #{record.baseType,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenbamboo.bean.PoetryBase" >
    update poetry_base
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=VARCHAR},
      </if>
      <if test="favoritesCount != null" >
        favorites_count = #{favoritesCount,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="baseType != null" >
        base_type = #{baseType,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where base_id = #{baseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenbamboo.bean.PoetryBase" >
    update poetry_base
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=VARCHAR},
      favorites_count = #{favoritesCount,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      base_type = #{baseType,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR}
    where base_id = #{baseId,jdbcType=INTEGER}
  </update>
</mapper>